build/
/out/
/tmp/
/scripts/1/
.deps/
.wix/
.vs/
.vscode/
.build*/
.DS_Store
*.obj
*.exe
*.pdb
*.ilk
*.log
*.msi
*.pyc
.env
.signing_sha1
scripts/.signing_sha1
CMakePresets.json

# Website
website/node_modules/
website/dist/
